
    <br>

    <span id=footerGrid>

      <span class="block">
        <span id="contactInfo">
          <p>Contact information:</p>
          <p>Email:Trussell@gmail.com</p>
          <p> Phone:(919)-687-3592</p>
          <p> Adress:1234 Fake Adress Blvd, Charlotte, NC 28223</p>
        </span>
      </span>

      <span class="block">
        <p id="labelNav">Navigational links:</p>
        <span id="navigational">
          <a href="index.html"> Home page</a>
          <a href="cooking.html">Cooking page</a>
          <a href="decor.html"> Decorating page</a>
          <a href="reading.html"> Reading page</a>
          <a href="wearing.html"> Wearing page</a>
        </span>
      </span>

      <span class="block">
        <span id="newsLetter">
          <form action="#">
            <fieldset class="newsLetterForm">
              <legend>Enter your info to join my news letter.</legend>
              <div>
              <label for="name">Name:</label>
              <input type="text" id="name" placeholder="First-name Last-name" size="20" aria-invalid="true">
              </div>
              <label for="phoneNumber">Phone Number:</label>
              <input type="tel" id="phoneNumber" placeholder="123-456-7890" size="13" aria-invalid="true" required>
              <div>
              <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="abc@email.com" size="17" aria-invalid="true" required>
              </div>
              <div id="submitButton">
            <button type="submit" id="submit"> Submit</button>
          </div>
          </fieldset>
          </form>
        </span>
      </span>
    </span>

    <p>Designed by: Manic Rat llc ©</p>
    <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fwebpages.uncc.edu%2Fmrusse54%2Fitis3135%2Fprojects%2Findex.html"
      target="_blank">
      <img src="images/button-valid-html5.gif" width="70" height="31" alt="Link to HTML validator">
    </a>

    <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fwebpages.uncc.edu%2Fmrusse54%2Fitis3135%2Fprojects%2Findex.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en"
      target="_blank">
      <img src="images/button-valid-css.gif" width="70" height="31" alt="Link to CSS validator">
    </a>
