
  <h1 id="pageTitle">
    <a id="hideTextDecor" href="images/mon.png" target=" ">
      <img id="header_logo" src="images/mon.png" alt="Monogram">
    </a>
   Fancy
  </h1>

<button type="button" class="headerButton" onclick="location.href='index.html'">
  Home</button>
<button type="button" class="headerButton" onclick="location.href='cooking.html'">
  Cooking</button>
<button type="button" class="headerButton" onclick="location.href='decor.html'">
  Decorating</button>
<button type="button" class="headerButton" onclick="location.href='reading.html'">
  Reading</button>
<button type="button" class="headerButton" onclick="location.href='wearing.html'">
  Wearing</button>