
body{
    background-color: #A1C084;
    color: #3D3D6A;
    font-family: sans-serif;
    margin-left: 75px;
	margin-right: 75px;
    font-size: 20px;
}

footer
{
	text-align: center;
}

hr{
    color: #69A2B0;
}

.block{
   
    display: block;
}

.p1{
    display: block;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.link{
    
    text-decoration: none;  
}

header{
    background-color: #FAB6BB;
    color: #3D3D6A;
    display: grid;
    grid-template-columns: 350px 1fr 1fr 1fr 1fr 1fr;
    margin-right: -75px;
    margin-left: -75px;
    padding-left: 10px;
    margin-top: -15px;
    max-height: min-content;
}


#hideTextDecor{
    text-decoration: none; 
}

#header_logo{
    text-decoration: none;
    border: none;
    width: 70px;
    margin-bottom: -15px;
}

.indexList{
    list-style: none;
}

.indexListItems{
   margin-bottom: 5px;
}

.indexPage{
    text-align: initial;
}

footer{
    background-color: #BBCE8A;
    margin-right: -75px;
    margin-left: -75px;
  margin-top: 150px;
  box-shadow: 0 50vh 0 50vh #BBCE8A; 
}

#footerGrid{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-column-gap: 400px;
    margin-left: 100px;
}


button{
    background-color: #FAB6BB;
    color: #3D3D6A;
    border: transparent;
    font-size: 30px;
    
  }

  button:hover
{
text-decoration: underline;
color: #3D3D6A;    
}

#navigational{
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    text-align: left;
    margin-top: -10px;
    margin-left: 110px;  
    padding-left: 60px;
    font-size: 15px;
}

#contactInfo{
    text-align: left;
}


#submit{
    color: #3D3D6A;
    background-color:#FAB6BB;
    font-size: 20px;
    border: solid;
    border-color: #3D3D6A;
    
    
}

.slideButton{
    color: #3D3D6A;
    background-color:#FAB6BB;
    font-size: 15px;
    border: solid;
    width: 100px;
    height: 50px;
    line-height: 10px;
    border-color: #3D3D6A;
}



a:hover
{
text-decoration: underline;
color: #FAB6BB;    
}

a{
    color: #3D3D6A;
}

.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.mainGrid .subGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220px 220px;
}

#contact{
    max-width: 400px;
    border: #3D3D6A;
    border-style:solid;
   padding: 10px 30px 10px 30px;
}

#submitButton{
    margin: 2px;
}

#slides img{
    display: none;
}

#slide{
    max-width: 300px;
}


header button{
    padding-top: 20px;
}

#pageHeader{
text-align: center;
margin-left: -120px;
}

.centerSlides{
    text-align: center;
}

.centerPara{
    text-align: center;
   margin-left: 850px;
    margin-right: auto;
    max-width: 600px;
   
}

#slideShowGroup{
    display: grid;
    grid-template-columns: 80px 300px 85px;
    column-gap: 10px;
}

.slideButton{
    max-width: 80px;
    max-height: 20px;
}

#slideLeft{
margin-top: 130px;
}

#slideRight{
    margin-top: 130px; 
}

.alignCenter{
    margin-left: 955px ;
}

.productImg{
    width: 400px;
}



#id_pager{
    margin-left: 150px;
    margin-top: -50px;
}

#slider{
  margin: auto;
 
}


#accordionTwo{
    margin-left: -190px;
    max-width: 550px;

}

#accordionOne{
    margin-left: -190px;
    max-width: 550px;
    
}


#accordionThree{
    margin-left: -190px;
    max-width: 550px;

}


#accordionFour{
    margin-left: -190px;
    max-width: 550px;

}


.popup-link{
width: 500px;
}