
    <h1 id="pageTitle">
      <a id="hideTextDecor" href="images/rat-openclipart-org.png" target=" ">
        <img id="header_logo" src="images/rat-openclipart-org.png" alt="Manic Rat brand logo">
      </a>
      Manic Rat llc
    </h1>
    <button type="button" onclick="location.href='index.html'" >
        Home</button>
    <button type="button" onclick="location.href='services.html'" >
       Services</button>
       <button type="button" onclick="location.href='contact.html'" >
        Contact</button>
